<div class='footer'>
  <img src='/images/about/footer_grass.svg' alt='Grass' />
  <a href='mailto:antonio.ibarra.g46@gmail.com'>Antonio Ibarra</a><br>
  Last updated on %s. Generated using %s <br>
  <a href='http://www.catb.org/hacker-emblem/'> <img src='http://www.catb.org/hacker-emblem/glider.png' alt='hacker emblem' /></a>
  <a href='https://info.flagcounter.com/tlzk'><img src='https://s11.flagcounter.com/mini/tlzk/bg_FFFFFF/txt_9E9E9E/border_FFFFFF/flags_0/' alt='Free counters!' border='0'></a>
</div>
