<div class='intro'>
  <img src='/images/about/profile.jpg' alt='Antonio Ibarra' class='no-border'/>
  <h1>
    <span class="gray">Antonio</span>
    <span class="black">Ibarra</span>
  </h1>
  <p>Functional Developer</p>
</div>

<div class='nav'>
<img src='/images/about/header.png' alt='Favorite technologies' />
<ul>
  <li><a href='/'>Blog</a>.</li>
  <li><a href='http://gitlab.com/antonioig'>GitLab</a>.</li>
  <li><a href='http://github.com/luisantonioig'>GitHub</a>.</li>
  <li><a href='/index.xml'>RSS</a>.</li>
  <li><a href='/about/'>About</a></li>
</ul>
</div>
